/* .switch-primary{
    vertical-align: middle;
    margin-left: 20px;
    float: right;
} */
/* .switch-div{
    border-right: 1px solid #09aee4;
} */
/* .text-div{
    
    float: right;
} */
/* .switch-primary .switch-input:checked + .switch-slider {
    background-color: #20a8d8!important;
    border-color: #1985ac!important;
}
.switch-slider {
    background-color: #4e4e4e!important;
    border: 1px solid #000!important;
} */
.ext_features{
    font: bold 18px arial, serif;
}
.serviceStatus{
    width: 25px;
}