<h3 class="card-header-style">Internal User Information</h3>
<div mat-dialog-content>
    <div class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;text-align: justify;">
                    Account Manager and Support Manager come into the category of Internal User. The Account Manager will be our Sales and Marketing person who will bring customers and these customers will be shown into your portals. So every account manager has all products by default into their bucket.<br />
                    Support manager will be responsible for the support of all customers of all products. So they can see the majority of details but in a restricted manner to make security for customer point of view.
                </mat-card-content>
                <img src="assets/img/create_internalUser.png" style="width:100%;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Close</button>
            </div>
        </div>
    </div>
</div>