<h3 class="card-header-style">Add Call Rates</h3>
<div mat-dialog-content>
    <!-- <div class="card-body">
        <form [formGroup]="addCallRatesForm" class="row">   
             <div class="card-body" style="margin-right: 100px;margin-left: 100px;width: 650px;">
                <app-grid [reinitializeTable]="true" [columnDefs]="columnDefs2"  [dataSource]="dataSource2"
                [pageSize]='defaultPageSize'  (actionClick)="manageAction($event)" >
                </app-grid> 
            </div>
         
            <div class="col-lg-12 example-button-row">
                <button (click)="submit();" mat-raised-button color="primary" >Submit</button>
                <button mat-raised-button color="warn" (click)="onNoClick($event)">Cancel</button>
            </div>
        </form>
    </div> -->
</div>
