<h3 class="card-header-style">Extension Features Information</h3>
<div mat-dialog-content>
    <div class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;text-align: justify;">
                    Extension Features shows provided features to Extension as per the Package which makes it easy to understand for customers.
                </mat-card-content>
                <img src="assets/img/extensionFeature.png" style="width:100%;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Close</button>
            </div>
        </div>
    </div>
</div>