<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>FEATURE RATE PLAN PACKAGES</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>{{groupName | titlecase}}</strong></h5>
          <div id="pbx_feature" class="row" *ngIf="packageList.length>=1; else templateName">
            <div class="form-group col-md-4 switch-div" *ngFor="let package of packageList">
              <div style="border: 1px solid #b5b5b5; padding: 8px; cursor: pointer;">
                <i class="fa fa-home"
                  aria-hidden="true"></i>&nbsp;&nbsp;<strong>{{package.name}}</strong><br />
                <small><i class="fa fa-product-hunt" aria-hidden="true"></i>&nbsp;&nbsp;{{package.product_id == '1' ? 'PBX':'OCX'}}
                </small>
              </div>
            </div>
            <div class="col-md-12 example-button-row">
              <button backButton mat-raised-button color="primary"><i class="fa fa-reply fa-fw"></i>Back</button>
            </div>
          </div>
          <ng-template #templateName>
            <i>oops... This Feature Rate Plan is not assigned to any package.</i>
            <div class="row">
              <div class="col-md-12 example-button-row mt-3">
                <button backButton mat-raised-button color="primary"><i class="fa fa-reply fa-fw"></i>Back</button>
              </div>
            </div>
          </ng-template>
          <!-- Pbx Features end -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>