<h3 class="card-header-style">SUPPORT GROUP</h3>
<div mat-dialog-content *ngIf="isEdit">
    <div class="card-body">
        <form [formGroup]="supportGroupForm" (ngSubmit)="submitSupportGroup()" class="row">
                <div class="form-group col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Support Group Name</mat-label>
                        <input matInput type="text" formControlName="name" maxlength="20" [(ngModel)]="supportGroupData.name" style="text-transform: capitalize" required
                         autocomplete="off" (keypress)="commonService.alphabetOnly($event)" (keydown)="commonService.toUpperCase($event)">
                    </mat-form-field>
                    <div *ngIf="name.invalid && (name.dirty || name.touched )" class="reqired-field">
                            <div *ngIf="name.errors.required"> Required Field</div>
                        <div *ngIf="name.errors.pattern">
                            Invalid name
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">       
                    <mat-form-field>
                        <mat-label>Select Product</mat-label>
                        <mat-select formControlName="product_id" [(ngModel)]="supportGroupData.product_id" required>
                            <!-- <mat-option value="0" selected>Select </mat-option> -->
                            <mat-option *ngFor='let product of product_list' [value]="product.id">
                              {{ product.name }}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="form-group col-md-12" *ngIf="isContactSection">
                    <ejs-multiselect id='multiselectelement' [dataSource]='userList' [fields]='fields'
                        [placeholder]='placeholder' floatLabelType="Auto" [(ngModel)]="supportGroupData.contacts"  formControlName="contacts"  [popupHeight]='popupHeight' [popupWidth]='popupWidth'>
                    </ejs-multiselect>
                    <br>
                </div>
               
                <div class="col-lg-12 example-button-row">
                    <button type="submit" mat-raised-button  color="primary">Submit</button>
                    <button mat-raised-button color="warn" (click)="onNoClick($event)">Cancel</button>
                </div>
        </form>
    </div>
</div>