<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong>OBD API CDR</strong>
              </div>
              <div class="card-body">
                  <div class="row" >
                    <!-- <div class="header-btn">
                          <div class="view-button">
                            <button mat-raised-button color="primary" style=" margin:11px; top:-10px;" (click)="openDialog()"><i
                                class="material-icons left">add_circle</i> ADD</button>
                          </div>
                    </div> -->
                  </div>
                  <div class="row">
                    <app-accordian-filter style="width: 100%">
                      <form [formGroup]="filterForm" class="row" novalidate method="post">
                        <div class="form-group col-md-4">
                          <mat-form-field class="example-full-width">
                              <mat-label>Call ID</mat-label>
                              <input matInput placeholder="Name" formControlName="by_call_id" maxlength="20" autocomplete="off">
                          </mat-form-field>
                      </div>
                        <div class="form-group col-md-4">
                          <mat-form-field class="example-full-width">
                              <mat-label>A Party No</mat-label>
                              <input matInput placeholder="Callee" formControlName="by_a_party_no" maxlength="20" autocomplete="off">
                          </mat-form-field>
                      </div>
                      <div class="form-group col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>B Party No</mat-label>
                            <input matInput placeholder="Callee" formControlName="by_b_party_no" maxlength="20" autocomplete="off">
                        </mat-form-field>
                    </div>
                      <div class="form-group col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Call Start Time</mat-label>
                            <input matInput placeholder="Pick a Date Range" formControlName="by_date" bsDaterangepicker
                                autocomplete="off" readonly
                                [bsConfig]="{showWeekNumbers:false ,containerClass:'theme-dark-blue', rangeInputFormat: 'DD/MM/YYYY', customTodayClass: 'custom-today-class'}" />
                        </mat-form-field>
                    </div>
                        <div class="col-md-3 example-button-row">
                          <button (click)="filterData()" mat-raised-button color="primary">Search</button>
                          <button (click)="resetTable()" mat-raised-button color="warn">Reset</button>
                        </div>
                      </form>
                    </app-accordian-filter>
                  </div>
              </div>
              <div class="example-wrapper" style="margin-top:75px;">
                <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
                    <mat-form-field class="float-right">
                        <mat-label>Number of records</mat-label>
                        <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)" id="page-size">
                            <mat-option value="10" selected>10</mat-option>
                            <mat-option value="50">50</mat-option>
                            <mat-option value="100">100</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [suppressColumnFit]="true"
                    [pageSize]='defaultPageSize'  >
                </app-grid>
            </div>
          </div>
      </div>
  </div>
</div>







