<h3 class="card-header-style">Call Plan Rate Information</h3>
<div mat-dialog-content>
    <div id="scrollId" class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;">
                    Rates uses Call Plan to add new rates into any Call Plan. Doing this will make a bundle of call rates for customers. Rates have Gateway with Buying and selling rates detailed for the defined country with billing cycle information like per minute or per sec.  Below is the glimpse of this section.
                </mat-card-content>
                <img src="assets/img/callplanrate.png" style="width:50%;margin-left:auto;margin-right:auto;display:block;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Close</button>
            </div>
        </div>
    </div>
</div>