<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>ALL TICKETS</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="header-btn">
              <button (click)="downloadPDF()" mat-raised-button color="primary" [hidden]="userRole == '5'"
                style=" margin:11px;top:-10px;left:10px;background-color: #CD5C5C !important;">Download PDF</button>
              <button (click)="exportToExcel()" mat-raised-button color="warn" [hidden]="userRole == '5'"
                style=" margin:11px; top:-10px; background-color: #01A89E !important;">Excel Export</button>
              <div *ngIf="ticketViewMenu.add_permission" class="view-button">
                <button mat-raised-button color="primary" (click)="openDialog()"><i
                  class="material-icons left">add_circle</i>
                ADD</button>
              </div>
              <div class="help-button">
                <button mat-raised-button (click)="showInfo()"
                  style="background-color: #7B68EE;border: none;color: #ffffff;text-align: center;text-decoration: none;display: inline-block;margin: -6px 0px 0px -6px;cursor: pointer;overflow: hidden;">
                  <i class="fa fa-question-circle fa-lg" style="font-size:1.50em !important;" aria-hidden="true"></i>
                  HELP
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <app-accordian-filter style="width: 100%">
              <form [formGroup]="filterForm" class="row" novalidate>
                <div class="form-group col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Date Range</mat-label>
                    <input matInput placeholder="Pick a Date Range" formControlName="by_range" bsDaterangepicker
                      readonly autocomplete="off"
                      [bsConfig]="{showWeekNumbers:false ,containerClass:'theme-dark-blue', customTodayClass: 'custom-today-class', rangeInputFormat: 'DD/MM/YYYY'}" />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Ticket Number</mat-label>
                    <input matInput type="text" formControlName="by_ticket" autocomplete="off" maxlength="20"
                      (keypress)="commonService.alphabetWithNumber($event)" placeholder="Ticket Number">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3" *ngIf="userRole =='4'|| userRole == '5' || userRole == '0'" style="margin-top: -15px;">
                  <!-- <mat-form-field>
                    <mat-label>Company</mat-label>
                    <mat-select formControlName="by_company">
                      <mat-option value="" selected>Select Company</mat-option>
                      <mat-option *ngFor='let company of companyList' [value]="company.company_name">
                        {{company.company_name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <ejs-multiselect id='multiselectelement' [floatLabelType]="'Auto'" (filtering)="Companyremovedspace($event)" class="mt-2" style="width: 80%;" [dataSource]='selectedValue'
                    [fields]='fields' [placeholder]='placeholder5' formControlName="by_company"
                    [popupHeight]='popupHeight' [popupWidth]='popupWidth' [mode]='mode' [selectAllText]='selectAllText'
                    showSelectAll=true>
                  </ejs-multiselect>
                </div>
                <div class="form-group col-md-3" style="margin-top: -7px;"
                  *ngIf="userRole === UserTypeAccountManager || userRole === UserTypeSupportManager || userRole == '0'">
                  <ejs-dropdownlist [floatLabelType]="'Auto'"
                  formControlName="by_product" (filtering)="Productremovedspace($event)"
                   style="width: 80%;" [dataSource]='productList' [fields]='fields4' 
                   [popupHeight]='popupHeight' [popupWidth]='popupWidth' [placeholder]='placeholder4' allowFiltering=true>
               </ejs-dropdownlist> 
                  <!-- <mat-form-field>
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="by_product" (openedChange)="HandleDropdownFilter('filterProduct',ProductFilter)" #select1>
                      <mat-select-filter  *ngIf="select1.focused" [array]="productList" [displayMember]="'name'" (filteredReturn)="filterProduct = $event" ></mat-select-filter>
                      <mat-option value="" selected>Select Product</mat-option>
                      <mat-option *ngFor='let product of filterProduct' [value]="product.id">
                        {{product.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
                <div class="form-group col-md-3"
                  *ngIf="userRole === UserTypeAccountManager || userRole === UserTypeSupportManager || userRole == '0'">
                  <mat-form-field>
                    <mat-label>Ticket Type</mat-label>
                    <mat-select formControlName="by_type">
                      <mat-option value="all">All Type</mat-option>
                      <mat-option value="0">New feature</mat-option>
                      <mat-option value="1">Issue</mat-option>
                      <mat-option value="2">Others</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3" *ngIf="userRole === UserTypeSupportManager" style="margin-top: -15px;">
                  <!-- <mat-form-field>
                    <mat-label>Assignee</mat-label>
                    <mat-select formControlName="by_assignee">
                      <mat-option value="" >Select Assignee</mat-option>
                      <mat-option *ngFor='let assignee of assigneeUser' [value]="assignee.id">
                        {{assignee.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <ejs-multiselect id='multiselectelement' [floatLabelType]="'Auto'" (filtering)="Assigneeremovespace($event)" class="mt-2" style="width: 80%;" [dataSource]='assigneeUser'
                    [fields]='fields2' [placeholder]='placeholder2' formControlName="by_assignee"
                    [popupHeight]='popupHeight' [popupWidth]='popupWidth' [mode]='mode' [selectAllText]='selectAllText'
                    showSelectAll=true>
                  </ejs-multiselect>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="by_status">
                      <mat-option value="" selected>Select Status</mat-option>
                      <mat-option value="0">Close</mat-option>
                      <mat-option value="2">Inprogress</mat-option>
                      <mat-option value="3">New</mat-option>
                      <mat-option value="1">Open</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <button (click)="filterData()" mat-raised-button color="primary">Search</button>&nbsp;
                  <button (click)="resetTable()" mat-raised-button color="warn">Reset</button>
                </div>
              </form>
            </app-accordian-filter>
          </div>

          <div class="example-wrapper" style="margin-top:75px;">
            <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
              <mat-form-field class="float-right">
                <mat-label>Number of records</mat-label>
                <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)"
                  id="page-size">
                  <mat-option value="10" selected>10</mat-option>
                  <mat-option value="50">50</mat-option>
                  <mat-option value="100">100</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData"
              [pageSize]='defaultPageSize' (actionClick)="manageAction($event)">
            </app-grid>
          </div>
          <!-- <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [pageSize]='10'
            (actionClick)="manageAction($event)">
          </app-grid> -->
        </div>
      </div>
    </div>
  </div>
</div>