<h3 class="card-header-style">Extension Information</h3>
<div mat-dialog-content>
    <div class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;text-align: justify;">
                    In this section we see Customer’s Extension Information. First we have to select Company from the company drop down section. After selecting the Company Name, a list of Extensions appear at the Right side of the search section.<br />
                    From the list of Extension, we can see such information. Admin and Support may see Customer’s Extension, which will be helpful at the time of any issue. They can’t see their password as a security to these extensions.<br />
                </mat-card-content>
                <img src="assets/img/supportExtension.png" style="width:100%;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Close</button>
            </div>
        </div>
    </div>
</div>