<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>ALL EXTENSIONS LIST</strong>
                </div>
                <div class="card-body">
                    <div class="header-btn">
                        <div class="row mr-0" style="float:right;" *ngIf="showSearching">
                            <button (click)="downloadPDF()" mat-raised-button color="primary" [hidden]="!userRole"
                                style=" margin:11px;top:-10px;left:10px;background-color: #CD5C5C !important;">Download
                                PDF</button>
                            <button (click)="exportToExcel()" mat-raised-button color="warn" [hidden]="!userRole"
                                style=" margin:11px; top:-10px; background-color: #01A89E !important;">Excel
                                Export</button>
                            <div class="help-button mb-4">
                                <button mat-raised-button (click)="showInfo()"
                                    style="background-color: #7B68EE;border: none;color: #ffffff;text-align: center;text-decoration: none;display: inline-block;margin: -4px 0px 0px -3px;cursor: pointer;overflow: hidden;">
                                    <i class="fa fa-question-circle fa-lg" style="font-size:1.50em !important;" aria-hidden="true"></i>
                                    HELP
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 mt-2" style="margin-top: -15px;">
                            <!-- <mat-form-field>
                                <mat-label>Select Company</mat-label>
                                <mat-select (selectionChange)="selectCompanyDiv($event)">
                                    <mat-option *ngFor='let company of selectedValue' matTooltip="{{company.company_name}} (Ref. Code: {{company.id}})" [value]="company.id">
                                        {{ company.company_name }} (Ref. Code: {{company.id}})</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <form [formGroup]="companyfilterForm" >
                            <ejs-dropdownlist formControlName="company_id" id='ddlelement' [floatLabelType]="'Auto'" (filtering)="Companyremovedspace($event)" style="width: 100%;" (select)="selectCompanyDiv($event)" [dataSource]='companyList' [fields]='fields'
                            [popupHeight]='popupHeight' [popupWidth]='popupWidth'   [placeholder]='placeholder' allowFiltering=true>
                          </ejs-dropdownlist>
                          </form>
                        </div>
                        <!-- <div class="verticalLine" *ngIf="showSearching"></div> -->
                        
                   
                    <div class="form-group col-md-7">
                    <div class="row ml-1 mr-1" *ngIf="showSearching">
                        <app-accordian-filter style="width: 100%">
                            <form [formGroup]="filterForm" class="row" novalidate>
                                <div class="form-group col-md-4" style="margin-top: -7px;">
                                    <!-- <ejs-dropdownlist id='ddlelement' formControlName="by_number" [floatLabelType]="'Auto'" (filtering)="removedspace($event)" style="width: 96%;" 
                                     [dataSource]='ExtensionNumber' [fields]='fields1'
                                    [popupHeight]='popupHeight' [popupWidth]='popupWidth'   [placeholder]='placeholder1' allowFiltering=true>
                                  </ejs-dropdownlist> -->
                                  <ejs-multiselect id='multiselectelement' [dataSource]='ExtensionNumber' [fields]='fields1' formControlName="by_number" [floatLabelType]="'Auto'" (filtering)="removedspace($event)" style="width: 96%;"
                                  [placeholder]='placeholder1'  [mode]='mode' [selectAllText]='selectAllText' showSelectAll=true [popupHeight]='popupHeight' [popupWidth]='popupWidth'>
                              </ejs-multiselect>
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput type="text" formControlName="by_number" maxlength="8" placeholder="Extension Number"
                                            (keypress)="commonService.numberOnly($event)">
                                    </mat-form-field> -->
                                </div>
                                <div class="form-group col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" formControlName="by_username" maxlength="15" placeholder="Extension Name">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="form-group col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" formControlName="by_external_callerId" maxlength="10"
                                            placeholder="External Caller ID">
                                    </mat-form-field>
                                </div> -->
                                <div class="form-group col-md-4">
                                    <button mat-raised-button (click)="filterData()" color="primary">Search</button>
                                    &nbsp;
                                    <button mat-raised-button color="warn" (click)="resetTable()">Reset</button>
                                </div>
                            </form>
                        </app-accordian-filter>
                    </div>
                </div>
            </div>
                    <div class="example-wrapper" style="margin-top:56px;">
                        <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
                            <mat-form-field class="float-right">
                                <mat-label>Number of records</mat-label>
                                <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)" id="page-size">
                                    <mat-option value="10" selected>10</mat-option>
                                    <mat-option value="50">50</mat-option>
                                    <mat-option value="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData"
                            [pageSize]='defaultPageSize' (actionClick)="manageAction($event)">
                        </app-grid>
                    </div>
                    <!-- <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [pageSize]='10'
                        (actionClick)="manageAction($event)">
                    </app-grid> -->
                </div>
            </div>
        </div>
    </div>
</div>