<h3 class="card-header-style">Gateway Information</h3>
<div mat-dialog-content>
  <div class="card-body">
    <div class="row">
      <mat-card
        style="
          background-color: #d2e1f8 !important;
          color: #115375 !important;
          border-color: #d2e1f8 !important;
          width: 100%;
        "
      >
        <mat-card-content style="font-size: 16px; text-align: justify">
          A Gateway is a way to connect with the PSTN network with the help of
          Providers. A Gateway is added into the system after providing the
          mandatory details. Multiple gateway can be provided by the same
          provider.
        </mat-card-content>
        <img src="assets/img/gateway.png" style="width: 100%" />
      </mat-card>
    </div>
    <div class="row" style="margin-top: 36px">
      <div class="col-md-4 example-button-row" style="margin: -17px">
        <button mat-raised-button color="warn" (click)="cancleDialog()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
