<h3 class="card-header-style">Users</h3>
<div mat-dialog-content>
  <div class="card-body">
    <form [formGroup]="userForm" novalidate>
      <input type="hidden" [(ngModel)]="userData.id" formControlName="id" />
      <div class="row">

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="f_name" id="fname" placeholder="First Name" maxlength="20"
              [(ngModel)]="userData.first_name" (keypress)="commonService.charOnly($event)" autocomplete="off"
              appBlockCopyPaste required>
          </mat-form-field>
          <div *ngIf="f_name.invalid && (f_name.dirty || f_name.touched)" class="reqired-field">
            <div *ngIf="f_name.errors.required">
              Required Field
            </div>
            <div *ngIf="f_name.errors.pattern">
              Invalid name
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="userData.last_name" (keypress)="commonService.charOnly($event)" formControlName="l_name"
             id="laname" placeholder="Last Name" maxlength="20" autocomplete="off" appBlockCopyPaste>
          </mat-form-field>
          <div *ngIf="l_name.invalid && (l_name.dirty || l_name.touched)" class="reqired-field">
            <div *ngIf="l_name.errors.pattern">
              Invalid name
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput type="email" maxlength="40" (change)="checkEmail()" [(ngModel)]="userData.email"
              formControlName="email" id="email" placeholder="Email" autocomplete="new-email" required>
          </mat-form-field>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="reqired-field">
            <div *ngIf="email.errors.required">
              Required Field
            </div>
            <div *ngIf="email.errors.pattern">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="userData.username" (keydown.space)="$event.preventDefault();"
              formControlName="username" maxlength="20" id="username" placeholder="Username" required autocomplete="off"
              appBlockCopyPaste readonly>
          </mat-form-field>
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="reqired-field">
            <div *ngIf="username.errors.required">
              Required Field
            </div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 8 characters long.
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" (selectionChange)="getCountryCode($event)"
              [(ngModel)]="userData.country_id" required [disableOptionCentering]="true" #select1
              placeholder="Auto Focus">
              <mat-select-filter *ngIf="select1.focused" [array]="countryList" [displayMember]="'name'"
                (filteredReturn)="filterCountry = $event" allowFiltering=true></mat-select-filter>
              <mat-option *ngFor='let country of filterCountry' [value]="country.id">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input type="hidden" formControlName="country_code" [(ngModel)]="countryCode" />
            <input matInput type="text" [(ngModel)]="userData.mobile" (keypress)="commonService.numberOnly($event)"
              formControlName="mobile" id="mobile" placeholder="Mobile Number" minlength="10" maxlength="10"
              autocomplete="off" required>
            <span matPrefix>{{countryCode}}</span>
          </mat-form-field>
          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="reqired-field">
            <div *ngIf="mobile.errors.required">
              Required Field
            </div>
            <div *ngIf="mobile.errors.pattern"> Number can not start with 0 and not less than 10 digits and special
              characters are not allowed.</div>
          </div>
        </div>


        <!-- <div class="col-md-4" *ngIf="isExternalUser">
          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="company_address" placeholder="Company Address"
              maxlength="200" style="resize:none;" autocomplete="off" ></textarea>
          </mat-form-field>
        </div> -->

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="company_address" placeholder="Address" maxlength="200"
              style="resize:none;" autocomplete="off" [(ngModel)]="userData.company_address"
              appBlockCopyPaste></textarea>
          </mat-form-field>
        </div>

        <div class="form-group col-md-4" style="margin-top: 16px;">
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" [(ngModel)]="userData.status">
              <mat-option value="0">Inactive</mat-option>
              <mat-option value="1">Active</mat-option>
              <mat-option value="3">Expired</mat-option>
              <mat-option value="4">Suspended for Underpayment</mat-option>
              <mat-option value="5">Suspended for Litigation</mat-option>
              <!-- <mat-option value="1">Active</mat-option> -->
              <!-- <mat-option value="2">Delete</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
   
        <div class="col-md-12" >
          <mat-label class="chk-lbl">Select Product *</mat-label><br />
          <mat-checkbox class="example-margin pro-check" *ngFor='let product of products' 
            [value]="product.id" name="product_name" [checked]="product.active" [disabled]="product.active" (change)="getByProduct(product.id, $event)" required>{{
            product.name }}</mat-checkbox>
        </div>
        <div class="form-group col-md-4" style="margin-top: 18px;" >
          <mat-slide-toggle formControlName="is_notification_email" (change)="changeNotificationEmail($event)" [(ngModel)]="is_notification" >
            Notification Email  
          </mat-slide-toggle>
        </div>
        <!-- <div class="form-group col-md-4" style="margin-top: 18px;">
          <mat-slide-toggle 
              [ngModel]="PBXuserData.is_notification_email || OCuserData.is_notification_email"
              (ngModelChange)="PBXuserData.is_notification_email ? PBXuserData.is_notification_email = $event : OCuserData.is_notification_email = $event"
              (change)="changeNotificationEmail($event)">
              Notification Email  
          </mat-slide-toggle>
      </div> -->
      

      <div class="form-group col-md-4" style="margin-top: 6px;" >
        <mat-form-field class="example-full-width">
          <input matInput type="email" formControlName="notification_email" id="email" 
            placeholder="Notification Email" maxlength="40" [readonly]="!is_notification_email.value">
        </mat-form-field>
        <div *ngIf="notification_email.invalid && (notification_email.dirty || notification_email.touched)" class="reqired-field">
          <div *ngIf="notification_email.errors.required">
            Required Field
          </div>
          <div *ngIf="notification_email.errors.pattern">
            Email must be valid
          </div>
        </div>  
      </div>
      <div class="form-group col-md-4"  style="margin-top: -1px;">
        <ejs-dropdownlist id="dldelement" [floatLabelType]="'Auto'" (filtering)="Managerremovedspace($event)" formControlName="account_manager" style="width: 63%;" [dataSource]='managerArr' [fields]='fields1' [(ngModel)]="accountData"
         [popupHeight]='popupHeight' [popupWidth]='popupWidth'  [placeholder]="placeholder1" allowFiltering=true>
       </ejs-dropdownlist>
       <!-- <mat-form-field>
         <mat-label>Account Manager</mat-label>
         <mat-select formControlName="account_manager" (openedChange)="HandleDropdownFilter('filterAccount',AcountFilter)" [(ngModel)]='userData.account_manager_id' #select1 required>
           <mat-select-filter *ngIf="select1.focused" [array]="managerArr" [displayMember]="'first_name'" (filteredReturn)="filterAccount = $event"></mat-select-filter>
           <mat-option *ngFor='let manager of  filterAccount' [value]="manager.id">{{manager.first_name}}
             {{manager.last_name}}</mat-option>
         </mat-select>
       </mat-form-field> -->
     </div>
  
        <div class="hr-sect" *ngIf="EnablePermission">PBX PRODUCT</div>
        <div class="form-group col-md-3" *ngIf="EnablePermission">
          <ejs-dropdownlist formControlName="permission_type" style="width: 90%;margin-top:  -7px;" [floatLabelType]="'Auto'" [dataSource]='permissionArr' [fields]='fields' (filtering)="Permissionremovedspace($event)"
              [popupHeight]='popupHeight' [popupWidth]='popupWidth' [placeholder]='placeholder' allowFiltering=true >
          </ejs-dropdownlist>
          <!-- <div style="margin-top:2px;" *ngIf="permission_type.invalid && (user_type.dirty || permission_type.touched)" class="reqired-field">
            <div *ngIf="permission_type.errors.required">
              Required Field
            </div>
          </div> -->
        </div>
        <div class="col-md-4" *ngIf="EnablePermission">
          <mat-form-field>
            <mat-label>Reseller Type</mat-label>
            <mat-select formControlName="reseller_type" [(ngModel)]="PBX_reseller_type" (selectionChange)="showResellerType($event)" required>
              <mat-option value="1" >Prepaid Reseller</mat-option>
              <mat-option value="2" >Channel Partner</mat-option>
              <mat-option value="3" >Privileges Channel Partner</mat-option>        
            </mat-select>
          </mat-form-field>
          <div *ngIf="reseller_type.invalid && (reseller_type.dirty || reseller_type.touched)" class="reqired-field">
            <div *ngIf="reseller_type.errors.required">
              Required Field
            </div>
          </div>
        </div>
        <div class="form-group col-md-4" *ngIf="prepaid && EnablePermission">
          <mat-form-field class="example-full-width">
            <input matInput type="text" (keypress)="commonService.floatOnly($event)" 
              formControlName="balance" [readonly]="PBXreadonly" (input)="checkPattern($event)" placeholder="Prepaid Balance" maxlength="10" autocomplete="off" appBlockCopyPaste required>
          </mat-form-field>
          <div *ngIf="balance.invalid && (balance.dirty || balance.touched)" class="reqired-field">
            <div *ngIf="balance.errors.required">
              Required Field
            </div>
          </div>
        </div>
        <div class="form-group col-md-4" *ngIf="Commission && EnablePermission">
          <mat-form-field class="example-full-width">
            <input matInput type="text" (keypress)="commonService.floatOnly($event)"
              formControlName="commission" (input)="checkcommission($event); checkValidation($event);" placeholder="Commission %" autocomplete="off" appBlockCopyPaste required>
          </mat-form-field>
          <div *ngIf="commission.invalid && (commission.dirty || commission.touched)" class="reqired-field">
            <div *ngIf="commission.errors.required">
              Required Field
            </div>
            <div *ngIf="commission.errors.pattern">Percentage should not be more then 100 and after decimal only two digit allow.
            </div>
          </div>
        </div>
        
        <div class="form-group col-md-4" *ngIf="Commission && EnablePermission">
          <mat-form-field class="example-full-width">
            <input matInput type="text" (keypress)="commonService.floatOnly($event)" 
              formControlName="balance" [readonly]="PBXreadonly" (input)="checkbalance($event)" placeholder="Commission Balance" maxlength="10" autocomplete="off" appBlockCopyPaste required>
          </mat-form-field>
          <div *ngIf="balance.invalid && (balance.dirty || balance.touched)" class="reqired-field">
            <div *ngIf="balance.errors.required">
              Required Field
            </div>
          </div>
        </div>
        <div class="hr-sect" *ngIf="EnableOCPermission">Outbound Conference Product</div>
        <div class="col-md-4" *ngIf="EnableOCPermission">
          <mat-form-field> 
            <mat-label>Reseller Type</mat-label>
            <mat-select formControlName="ocreseller_type" [(ngModel)]="OC_reseller_type" (selectionChange)="showResellerOCType($event)"  required>
              <mat-option value="1" >Prepaid Reseller</mat-option>
              <mat-option value="2" >Channel Partner</mat-option>
              <mat-option value="3" >Privileges Channel Partner</mat-option>        
            </mat-select>
          </mat-form-field>
          <div *ngIf="ocreseller_type.invalid && (ocreseller_type.dirty || ocreseller_type.touched)" class="reqired-field">
            <div *ngIf="ocreseller_type.errors.required">
              Required Field
            </div>
          </div>
        </div>
        <div class="form-group col-md-4" *ngIf="OCprepaid && EnableOCPermission">
          <mat-form-field class="example-full-width">
            <input matInput type="text" (keypress)="commonService.floatOnly($event)" 
              formControlName="ocbalance" [readonly]="OCreadonly" (input)="checkbalanceoc($event)" placeholder="Prepaid Balance" maxlength="10" autocomplete="off" appBlockCopyPaste required>
          </mat-form-field>
          <div *ngIf="ocbalance.invalid && (ocbalance.dirty || ocbalance.touched)" class="reqired-field">
            <div *ngIf="ocbalance.errors.required">
              Required Field
            </div>
          </div>
        </div>
        <div class="form-group col-md-4" *ngIf="OCCommission && EnableOCPermission">
          <mat-form-field class="example-full-width">
            <input matInput type="text" (keypress)="commonService.floatOnly($event)"
              formControlName="occommission" (input)="checkocommission($event); checkOcValidation($event)" placeholder="Commission %" autocomplete="off" appBlockCopyPaste required>
          </mat-form-field>
          <div *ngIf="occommission.invalid && (occommission.dirty || occommission.touched)" class="reqired-field">
            <div *ngIf="occommission.errors.required">
              Required Field
            </div>
            <div *ngIf="occommission.errors.pattern">Percentage should not be more then 100 and after decimal only two digit allow.
            </div>
          </div>
        </div>
        <div class="form-group col-md-4" *ngIf="OCCommission && EnableOCPermission">
          <mat-form-field class="example-full-width">
            <input matInput type="text" (keypress)="commonService.floatOnly($event)"
              formControlName="ocbalance" [readonly]="OCreadonly" (input)="checkocbalance($event)" placeholder="Commission Balance" maxlength="10" autocomplete="off" appBlockCopyPaste required>
          </mat-form-field>
          <div *ngIf="ocbalance.invalid && (ocbalance.dirty || ocbalance.touched)" class="reqired-field">
            <div *ngIf="ocbalance.errors.required">
              Required Field
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group col-lg-12 example-button-row">
        <button mat-raised-button [disabled]="!userForm.valid" (click)="submitUserForm()"
          color="primary">Submit</button>
        <button mat-raised-button color="warn" (click)="onNoClick($event)">Cancel</button>
      </div>
    </form>
  </div>
</div>