<h3 class="card-header-style">TC HISTORY INFO</h3>
<div mat-dialog-content>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Assigned Minutes</th>
                    <th scope="col">Used Minutes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tcHistoryList">
                    <th scope="row">{{item.date}}</th>
                    <td>{{item.contact_number}}</td>
                    <td>{{item.assign_minutes}}</td>
                    <td>{{item.used_minutes}}</td>
                </tr> 
            </tbody>
        </table>
        <div class="col-lg-12 example-button-row">
            <button mat-raised-button color="warn" (click)="cancleDialog($event)">Close</button>
        </div>
    </div>
</div>