<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong>TC MAPPED CONTACTS</strong>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="header-btn">
                        <div>
                          <button backButton mat-raised-button color="primary" style="float: right;margin-right: 2em;"><i class="fa fa-reply fa-fw"></i>Back</button>
                        </div>
                          <div class="help-button mb-2">
                              <button mat-raised-button 
                                  style="background-color: #7B68EE;border: none;color: #ffffff;text-align: center;text-decoration: none;display: inline-block;margin: -6px 0px 0px -6px;cursor: pointer;overflow: hidden;">
                                  <i class="fa fa-question-circle fa-lg" style="font-size:1.50em !important;" aria-hidden="true"></i>
                                  HELP
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <app-accordian-filter style="width: 100%">
                      <form [formGroup]="filterForm" class="row" method="post">
                        <div class="form-group col-md-3">
                          <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="by_name" maxlength="20"
                              placeholder="Name">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                          <mat-form-field>
                            <mat-label>Number</mat-label>
                            <input matInput type="text" formControlName="by_number" maxlength="20"
                              placeholder="Number">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                          <button mat-raised-button (click)="filterData()" color="primary">Search</button>
                          &nbsp;
                          <button mat-raised-button color="warn" (click)="resetTable()">Reset</button>
                        </div>
                      </form>
                    </app-accordian-filter>
                  </div>
        
                  <div class="example-wrapper" style="margin-top:75px;">
                      <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
                          <mat-form-field class="float-right">
                              <mat-label>Number of records</mat-label>
                              <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)" id="page-size">
                                  <mat-option value="10" selected>10</mat-option>
                                  <mat-option value="50">50</mat-option>
                                  <mat-option value="100">100</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData"
                          [pageSize]='defaultPageSize' (actionClick)="manageAction($event)">
                      </app-grid>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>