<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>CHANGE PASSWORD</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <form class="row" [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
              <!-- <input type="hidden" name="username" value="bhupi"> -->
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Old Password</mat-label>
                  <input matInput type="password" placeholder="Old Password" (change)="checkPassword(item.value);"
                    #item formControlName="password" autocomplete="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" appBlockCopyPaste required />
                </mat-form-field>
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="reqired-field">
                    <div *ngIf="password.errors.required">
                      Required Field
                    </div>
                  </div>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>New Password</mat-label>
                  <input matInput type="password" placeholder="New Password" formControlName="newPassword"
                    autocomplete="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                    minlength="7" appBlockCopyPaste required />
                </mat-form-field>
                <div class="error col-sm-8"
                  *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched">
                  New Password must contain more than 8 characters, 1 upper case letter, and 1 special character
                </div>
              </div>
              <!-- <div *ngIf="newPassword?.errors && f.submitted &&  newPassword.invalid" class="invalid-feedback">
                    <div *ngIf="newPassword?.errors.required">New Password required</div>
                    <div *ngIf="newPassword?.errors.pattern"> New Password must contain more than 
                      8 characters, 1 upper case letter, and 1 special character</div>
                  </div> -->

              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                    autocomplete="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    minlength="7" appBlockCopyPaste required />
                </mat-form-field>
                <div class="error col-sm-8"
                  *ngIf="!changePasswordForm.get('confirmPassword').valid && changePasswordForm.get('confirmPassword').touched">
                  Confirm Password must contain more than 8 characters, 1 upper case letter, and 1 special character
                </div>
                <div class="error col-sm-8" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('passwordMatch') 
                    && changePasswordForm.controls['confirmPassword'].touched" class="text-danger">
                  New and Confirm Password mismatch
                </div>
              </div>
              <div class="col-lg-12 example-button-row">
                <button type="submit" [disabled]="!changePasswordForm.valid" mat-raised-button color="primary">Submit</button>
                <button type="button" mat-raised-button color="warn" (click)="cancleForm()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>