<h3 class="card-header-style">DID Information</h3>
<div mat-dialog-content>
    <div id="scrollId" class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;">
                    The account manager has only views permission of his customer’s DID along with country and provider details. He may also check that these DID are in use with any feature or not. 
                </mat-card-content>
                <img src="assets/img/internalUserDid.png" style="width:100%;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Close</button>
            </div>
        </div>
    </div>
</div>