<h3 class="card-header-style">Package Information</h3>
<div mat-dialog-content>
    <div id="scrollId" class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;text-align: justify;">
                    Package contain offered features by administrator. Customers see all the features available in the package. All non-assign features are always in cross sign.Customers can request for an assigned feature, costing will be incore on it.<br />
                    As per offered feature, customers can assign the same to his Extension according to his choice
                </mat-card-content>
                <img src="assets/img/package.png" style="width:100%;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Cancel</button>
            </div>
        </div>
    </div>
</div>