<div class="card-body">
  <div class="row">
    <mat-card
      style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
      <mat-card-content style="font-size:16px; text-align: justify;">
        You can seen in every page we have an option for search, reset, download pdf, excel export and excel
        import.These features are optional according to the User Profile.<br />
        ● <i class="fa fa-search" aria-hidden="true"></i>&nbsp;
        SEARCH - Search button is just trying to find the information you need.<br />
        ● <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;
        RESET - Reset button is an easy way to reset the form to their default values.<br />
        ● <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;
        EXCEL EXPORT- The excel export allows exporting Grid data to Excel document in .xlsx form.<br />
        ● <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
        EXCEL IMPORT - The excel import allows importing Grid data from csv file then insert your data in the database
        and show your data in the grid.<br />
        ● <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;
        DOWNLOAD PDF - PDF stands for "portable document format". Essentially, the format is used when you need to save
        files that cannot be modified but still need to be easily shared and printed.<br />
      </mat-card-content>
    </mat-card>
  </div> 
</div>