<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>ALL DID'S</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="header-btn">
                            <button (click)="downloadPDF()" mat-raised-button color="primary"
                                style=" margin:11px;top:-10px;left:13px;background-color: #CD5C5C !important;">Download
                                PDF</button>
                            <button (click)="exportToExcel()" mat-raised-button color="warn"
                                style=" margin:11px; top:-10px; background-color: #01A89E !important;">Excel Export</button>
                            <div class="help-button">
                                <button mat-raised-button (click)="showInfo()"
                                    style="background-color: #7B68EE;border: none;color: #ffffff;text-align: center;text-decoration: none;display: inline-block;margin: -6px 0px 0px -6px;cursor: pointer;overflow: hidden;">
                                    <i class="fa fa-question-circle fa-lg" style="font-size:1.50em !important;" aria-hidden="true"></i>
                                    HELP
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <app-accordian-filter style="width: 100%">
                            <form [formGroup]="filterForm" class="row" novalidate>
                                <div class="form-group col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" formControlName="by_did" (keypress)="commonService.numberOnly($event)"
                                            maxlength="20" placeholder="DID Number">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-3" style="margin-top: -16px;">
                                    <!-- <mat-form-field>
                                        <mat-label>Country</mat-label>
                                        <mat-select formControlName="by_country" (openedChange)="HandleDropdownFilter('filterCountry',CountryFilter)" #select1>
                               <mat-select-filter  *ngIf="select1.focused" [array]="countryList" [displayMember]="'name'" (filteredReturn)="filterCountry = $event" ></mat-select-filter>
                                            <mat-option value="" selected>Select Country</mat-option>
                                            <mat-option *ngFor='let country of filterCountry' [value]="country.id">
                                                {{ country.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                    <ejs-multiselect id='multiselectelement' [floatLabelType]="'Auto'" (filtering)="Countryremovedspace($event)" class="mt-2" style="width: 80%;" [dataSource]='countryList' 
                                    [placeholder]='placeholder' [fields]="fields" formControlName="by_country" [popupHeight]='popupHeight' [popupWidth]='popupWidth'
                                    [mode]='mode' [selectAllText]='selectAllText' showSelectAll=true>
                                  </ejs-multiselect>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="by_status">
                                            <mat-option value="" selected>Select Status</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="0">Inactive</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-label>DID Type</mat-label>
                                        <mat-select formControlName="by_did_type">
                                            <mat-option value="" selected>Select Type</mat-option>
                                            <mat-option value="1">DID Number</mat-option>
                                            <mat-option value="3">Tollfree number</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-label>DID Group</mat-label>
                                        <mat-select formControlName="by_group">
                                            <mat-option value="" selected>Select Group</mat-option>
                                            <mat-option value="0">General</mat-option>
                                            <mat-option value="1">Premium</mat-option>
                                            <mat-option value="2">Private</mat-option>
                                            <mat-option value="3">VMN</mat-option>
                                            <mat-option value="4">Parked</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 example-button-row">
                                    <button (click)="filterData()" mat-raised-button color="primary">Search</button>
                                    <button (click)="resetTable()" mat-raised-button color="warn">Reset</button>
                                </div>
                            </form>
                        </app-accordian-filter>
                    </div>
                    <div class="example-wrapper" style="margin-top:75px;">
                        <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
                            <mat-form-field class="float-right">
                                <mat-label>Number of records</mat-label>
                                <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)" id="page-size">
                                    <mat-option value="10" selected>10</mat-option>
                                    <mat-option value="50">50</mat-option>
                                    <mat-option value="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [suppressColumnFit]="true"
                            [pageSize]='defaultPageSize' (actionClick)="manageAction($event)">
                        </app-grid>
                    </div>
                    <!-- <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [pageSize]='10'
                        (actionClick)="manageAction($event)">
                    </app-grid> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>