<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>ALL SMS TEMPATES</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="header-btn">
            <!-- <button (click)="downloadPDF()" mat-raised-button color="primary"
              style=" margin:11px;top:-10px;left:10px;background-color: #CD5C5C !important;">Download PDF</button>
            <button (click)="exportToExcel()" mat-raised-button color="warn"
              style=" margin:11px; top:-10px; background-color: #01A89E !important;">Excel Export</button> -->
            <div class="view-button">
              <button mat-raised-button color="primary" (click)="openDialog()"><i
                  class="material-icons left">add_circle</i> ADD</button>
            </div>
            <div class="help-button">
              <button mat-raised-button (click)="showInfo()"
                style="background-color: #7B68EE;border: none;color: #ffffff;text-align: center;text-decoration: none;display: inline-block;margin: -6px 0px 0px -6px;cursor: pointer;overflow: hidden;">
                <i class="fa fa-question-circle fa-lg" style="font-size:1.50em !important;" aria-hidden="true"></i>
                HELP
              </button>
            </div>
            </div>
          </div>
          <div class="row">
            <app-accordian-filter style="width: 100%">
              <form [formGroup]="filterForm" class="row" novalidate>
                <div class="form-group col-md-3" style="margin-top:-15px;">
                  <ejs-dropdownlist formControlName="by_category" (filtering)="Accountremovedspace($event)" [floatLabelType]="'Auto'"
                  style="width: 80%;margin-top: 9px;" [dataSource]='categoryList' [fields]='fields' 
                  [popupHeight]='popupHeight' [popupWidth]='popupWidth' [placeholder]='placeholder' allowFiltering=true>
              </ejs-dropdownlist> 
                  <!-- <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="by_category" (openedChange)="HandleDropdownFilter('filterCategoryOne',CategoryOneFilter)" #select1>
                      <mat-select-filter  *ngIf="select1.focused" [array]="categoryList" [displayMember]="'category_name'" (filteredReturn)="filterCategoryOne = $event" ></mat-select-filter>
                      <mat-option value="" selected>Select Category</mat-option>        
                        <mat-option *ngFor='let c of filterCategoryOne' [value]="c.id">
                            {{ c.category_name }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="by_status">
                      <mat-option value="" selected>Select Status</mat-option>        
                      <mat-option value="1" selected>Active</mat-option>        
                      <mat-option value="0" selected>Inactive</mat-option>     
                    </mat-select>
                  </mat-form-field>
                </div>
                
                
                <div class="form-group col-md-3">
                  <button (click)="filterData()" mat-raised-button color="primary">Search</button>&nbsp;
                  <button (click)="resetTable()" mat-raised-button color="warn">Reset</button>
                </div>
              </form>
            </app-accordian-filter>
          </div>
          <div class="example-wrapper" style="margin-top:75px;">
            <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
                <mat-form-field class="float-right">
                    <mat-label>Number of records</mat-label>
                    <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)" id="page-size">
                        <mat-option value="10" selected>10</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="100">100</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData"
                [pageSize]='defaultPageSize' (actionClick)="manageAction($event)">
            </app-grid>
        </div>
          <!-- <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [pageSize]='10'
            (actionClick)="manageAction($event)">
          </app-grid> -->
        </div>
      </div>
    </div>
  </div>
</div>