<h3 class="card-header-style">Time Group Information</h3>
<div mat-dialog-content>
    <div class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;text-align: justify;">
                    Time Group is used in IVR. If a customer wants to manage calls as per time then they can schedule accordingly. <br />
                    At the time of Time Group creation, customers need to define Start Date, Start Time, Finished Time with Holiday enable/disable. If holidays are enabled then this time group will check holiday leave else not. 
               </mat-card-content>
                <img src="assets/img/timegroup.png" style="width:50%;margin-left:auto;margin-right:auto;display:block;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Close</button>
            </div>
        </div>
    </div>
</div>