<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header"> <strong>ALL CALL GROUPS</strong> </div>
        <div class="card-body">
          <div class="row">
            <div class="header-btn">
              <div class="view-button">
                <button mat-raised-button color="primary" (click)="openDialog()"><i
                    class="material-icons left">add_circle</i>ADD</button>
              </div>
              <div class="help-button">
                <button mat-raised-button (click)="showInfo()"
                  style="background-color: #7B68EE;border: none;color: #ffffff;text-align: center;text-decoration: none;display: inline-block;margin: -6px 0px 0px -6px;cursor: pointer;overflow: hidden;">
                  <i class="fa fa-question-circle fa-lg" style="font-size:1.50em !important;" aria-hidden="true"></i>
                  HELP
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <app-accordian-filter style="width: 100%">
              <form [formGroup]="filterForm" class="row" novalidate>
                <div class="form-group col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" maxlength="20" placeholder="Name">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field>
                    <mat-label>Group Type</mat-label>
                    <mat-select formControlName="group_type">
                      <mat-option value="" selected>Select Group Type</mat-option>
                      <mat-option *ngFor='let groupTypeValue of selectedGTValue' [value]="groupTypeValue.id">
                        {{ groupTypeValue.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" formControlName="group_ext" maxlength="5"
                      (keypress)="commonService.numberOnly($event)" placeholder="Group Exten">
                  </mat-form-field>
                </div>
                <div class="col-md-3 example-button-row">
                  <button (click)="filterData()" mat-raised-button color="primary">Search</button>
                  <button (click)="resetTable()" mat-raised-button color="warn">Reset</button>
                </div>
              </form>
            </app-accordian-filter>
          </div>

          <div class="example-wrapper" style="margin-top:85px;">
            <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
                <mat-form-field class="float-right">
                    <mat-label>Number of records</mat-label>
                    <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)" id="page-size">
                        <mat-option value="10" selected>10</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="100">100</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [reinitializeTable]="true"
                [pageSize]='defaultPageSize' (actionClick)="manageAction($event)">
            </app-grid>
        </div>
          <!-- <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData" [pageSize]='10'
            (actionClick)="manageAction($event)">
          </app-grid> -->
        </div>
      </div>
    </div>
  </div>
</div>