::ng-deep 
.card-body {
    padding: 25px !important;
}

::ng-deep
body .ui-picklist .ui-picklist-caption {
    background-color: #316f9e !important;
    border: 1px solid #316f9e !important;
}

::ng-deep
body .ui-picklist .ui-picklist-list {
    border: 1px solid #316e9e!important;
    background-color: #ffffff;
    color: #316e9e!important;
}

::ng-deep
.ui-picklist .ui-button {
    display: block;
    margin-bottom: .25em;
    background-color: #316e9e!important;
}
