<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>FEATURE RATE PLAN</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="rateplanForm" (ngSubmit)="submitRatePlan()" class="row">
            <div class="form-group col-md-12" formArrayName="featureRateForm"
              *ngFor="let d of getfeatureRateControls(); let i=index">
              <!-- Use the index for each formGroup inside the formArray -->
              <div [formGroupName]="i">
                <div class="row">
                  <div class="form-group col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Feature Name</mat-label>
                      <input matInput type="text" formControlName="feature_name" maxlength="20" required
                        autocomplete="off" readonly (keypress)="commonService.alphabetOnly($event)"
                        style="text-transform: capitalize">
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Feature Limit</mat-label>
                      <input matInput formControlName="feature_limit" maxlength="6" minlength="0" required
                        autocomplete="off" required (keypress)="commonService.onlyPositiveNumber($event)">
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Feature Rate</mat-label>
                      <input matInput maxlength="10" formControlName="feature_rate" autocomplete="off" required
                        (keypress)="commonService.decimalWIth2digits ($event)">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div  > 
              <h4></h4>
            </div> -->
            <div  class="mb-4" *ngIf="getfeatureRateControls().length === 0">
              <i>oops... No need to upgrade.</i>
            </div>
            <div class="col-lg-12 example-button-row">
              <button type="submit" *ngIf="getfeatureRateControls().length > 0" mat-raised-button [disabled]="rateplanForm.invalid" color="primary">Submit</button>
              <button mat-raised-button color="warn" (click)="onNoClick($event)">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>