<h3 class="card-header-style">DID Information</h3>
<div mat-dialog-content>
    <div id="scrollId" class="card-body">
        <div class="row">
            <mat-card
                style="background-color:#d2e1f8 !important;color:#115375  !important;border-color:#d2e1f8 !important;width:100%;">
                <mat-card-content style="font-size:16px;text-align: justify;">
                    DID Management section is used to manage and purchase new DID. DIDs are used for routing of calls to desired features like IVR, Queue and Conference etc.<br />
                    The list of all purchased DIDs has been seen in this module. The DIDs customers have been Edit, Activate, Deactivate and Release. The customers are route calls as per DID. 
                </mat-card-content>
                <img src="assets/img/customerDid.png" style="width:100%;">
            </mat-card>
        </div>
        <div class="row" style="margin-top:36px;">
            <div class="col-md-4 example-button-row" style="margin:-17px;">
                <button mat-raised-button color="warn" (click)="cancleDialog()">Close</button>
            </div>
        </div>
    </div>
</div>