.table{
    width:50px;
    height:60px
}
/* .mat-card{ */
/*background-color: #d2e1f8 !important;
color: #115375 !important;
border-color: #d2e1f8 !important;
width: 106%;
margin-left: -10px;
margin-top: -10px; */
/* } */