<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong> FEATURE RATE PLAN</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="header-btn">
              <button (click)="downloadPDF()" mat-raised-button color="primary"
                style=" margin:11px;top:-10px;left:10px;background-color: #CD5C5C !important;">Download PDF</button>
              <button (click)="exportToExcel()" mat-raised-button color="warn"
                style=" margin:11px; top:-10px; background-color: #01A89E !important;">Excel Export</button>
              <div class="view-button" *ngIf="feactureRateMenu.add_permission">
                <button mat-raised-button color="primary" (click)="addratePlan()"><i class="material-icons left">add_circle</i>
                  ADD</button>
              </div>
              <div class="help-button">
                <button mat-raised-button (click)="showInfo()"
                  style="background-color: #7B68EE;border: none;color: #ffffff;text-align: center;text-decoration: none;display: inline-block;margin: -6px 0px 0px -6px;cursor: pointer;overflow: hidden;">
                  <i class="fa fa-question-circle fa-lg" style="font-size:1.50em !important;" aria-hidden="true"></i>
                  HELP
                </button>
              </div>
            </div>
          </div>
         <div class="row">
            <app-accordian-filter style="width: 100%">
              <form [formGroup]="filterForm" class="row" method="post">
               
                <div class="form-group col-md-3" style="margin-top: -15px;">
                  <ejs-dropdownlist id='ddlelement' [floatLabelType]="'Auto'" formControlName="plan_id" (filtering)="companyremovedspace($event)" style="width: 80%;"  [dataSource]='filter_list' [fields]='fields'
                  [popupHeight]='popupHeight' [popupWidth]='popupWidth' [placeholder]='placeholder' allowFiltering=true>
                </ejs-dropdownlist>
                  <!-- <mat-form-field>
                    <mat-label>Plan Name</mat-label>
                    <mat-select formControlName="plan_id">
                      <mat-option value="" selected>Select </mat-option>
                        <mat-option *ngFor='let plan of filter_list' [value]="plan.id">
                            {{plan.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
               </div>
               <div class="form-group col-md-3">
                  <button mat-raised-button (click)="filterData()" color="primary">Search</button>
                  &nbsp;
                  <button mat-raised-button color="warn" (click)="resetTable()">Reset</button>
                </div>
              </form>
            </app-accordian-filter>
          </div>
         
                    <div class="example-wrapper" style="margin-top:75px;">
            <div class="example-header col-md-3" style="float:right;margin-top:-57px;margin-right:-12px;">
                <mat-form-field class="float-right">
                    <mat-label>Number of records</mat-label>
                    <mat-select [value]="10" [(ngModel)]="defaultPageSize" (selectionChange)="onPageSizeChanged($event)" id="page-size">
                        <mat-option value="10" selected>10</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="100">100</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          <div class="col-md-12"> 
            <div class="example-wrapper" style="margin-top:75px;">
           <app-grid [columnDefs]="columnDefs" [dataSource]="dataSource" [rowData]="rowData"
                [pageSize]='defaultPageSize' (actionClick)="manageAction($event)">
            </app-grid>
        </div>
        
     
         </div> 
      </div> 
     </div> 
  
   </div> 
</div>
