<div class="app flex-row align-items-center" style="background-image: url(assets/img/brand/mainBackground.jpg);background-repeat: no-repeat;
background-size: cover; background-position: center; height: 100%;">
  <main class="col-sm-4 col-md-12">   
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group" style="width:75%">
            <div class="card p-4">
              <div class="card-body1">
           <form [formGroup]="authForm" (ngSubmit)="login()">
                  <div calss="row">
                    <div class="col-md-8 push-md-8" style="left:50px;">
                      <div class="card-body text-center">
                        <div>
                          <img src="assets/img/brand/CCPL_logo.png" alt="Cloud Connect" style="width: 200px;" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user" aria-hidden="true" style="padding: 2px;"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" formControlName="username" autofocus
                      tabindex="1" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                      (keydown.space)="$event.preventDefault();" />
                    <div *ngIf="f.submitted && f.invalid" class="invalid-feedback">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                      tabindex="2" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required
                      (keydown.space)="$event.preventDefault();" />
                    <div *ngIf="f.submitted && f.invalid" class="invalid-feedback">
                      <div *ngIf="password?.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-md-12">
                      <button type="submit" [disabled]="!authForm.valid"
                        class="btn btn-pill btn-block1 btn-primary px-4"><strong>Login</strong></button>
                    </div>
                  </div>
                  <div>
                    <div class="col-sm-4 col-md-12">
                      <br /><button type="button" class="btn btn-link1 px-0" (click)="forgetPassword()">Trouble Signin?
                        Click Here!</button>
                    </div>
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </main>
</div>